.item{
    width: 100%;
    display: flex;
    background-color: rgb(51 50 55);
    padding: 15px;
    border-radius: 8px;
    justify-content: space-between;
}

.item .col{
    width: 100%;
}

.item .col p{
    color: #89949a;
    width: max-content;
}

.item .col:last-child{
    display: flex;
    justify-content: flex-end;
}